body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2, h3 {
  color: #333;
  margin-top: 0;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tabs button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
}

.tabs button:hover {
  background-color: #0056b3;
}

.login-form, .form {
  margin-top: 20px;
}

.login-form input, .form input {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button, .form button, .container button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.login-form button:hover, .form button:hover, .container button:hover {
  background-color: #0056b3;
}

a {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
}

a:hover {
  background-color: #0056b3;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

#trip-info, #cab-info, #booked-trip-info, #nearby-cabs {
  margin-top: 20px;
  padding: 15px;
  background-color: #e9ecef;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
}

#allocated-cabs-container {
  margin-top: 20px;
}

#allocated-cabs button {
  margin-top: 5px;
}
